<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Montserrat:400,700' rel='stylesheet' type='text/css')
  link(href="css/style.css" rel="stylesheet")
body
  include includes/_header
  include includes/_sec-service
  include includes/_sec-about
  include includes/_sec-works
  include includes/_sec-parallax
  include includes/_sec-recent
  include includes/_sec-slide
  include includes/_sec-contacts
  include includes/_footer
