<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(href="css/style.css" rel="stylesheet")
body
  include includes/_header
    include includes/_module
  include includes/_sec-service
  include includes/_sec-about
  include includes/_sec-parallax
  include includes/_sec-recent
  include includes/_sec-slide
  include includes/_sec-contacts
  include includes/_footer