footer.footer
  div.footer-social__container
    p.footer-item
      a(href="#" id="tw")
      a(href="#" id="tw")
      a(href="#" id="tw")
      a(href="#" id="tw")
    p.footer_p &copy; 2015 Startup, Designed by ShapedTheme