header.startup
  nav.container.startup-nav
    div.startup__wrapper
      div.startup-logo
        h1.startup-logo_h1 Startup
      div.startup-navigation
        ul.nav-items
           li.nav-item
             a.nav-item_link(href="#") Home
           li.nav-item
             a.nav-item_link(href="#") Services
           li.nav-item
             a.nav-item_link(href="#") About
           li.nav-item
             a.nav-item_link(href="#") Works
           li.nav-item
             a.nav-item_link(href="#") Blog
           li.nav-item
             a.nav-item_link(href="#") Clients
           li.nav-item
             a.nav-item_link(href="#") Contact
    section
      div.header-desc
        h1.header-desc_h1 Welcome to startup
        p.header-desc_p Your Favourite Creative Agency Template
        button.header-desc_button Get started
 