section.sec-works
  div.container
    div.module
      h2.module_h2 Latest Works
    ul.works-tabs
      li: a(href="#").active All
      li: a(href="#") Branding
      li: a(href="#") Design
      li: a(href="#") Development
      li: a(href="#") Strategy

    section.gallery-items
      .gallery-item
        img(src="img/works/work1.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work2.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work3.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work4.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work5.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work6.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work7.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work8.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View
      .gallery-item
        img(src="img/works/work9.jpg", alt="gallery_photo")
        div.gallery-inner-item
          div.inner-item-wrapper-text
            div.inner-item-title Hair Dresser
            div.inner-item-sign Branding
            a(href="#").inner-line View

