section#blog
  div.container
    div.module
      h2.module_h2 Recent blog posts
      p.module_p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    article.recent-blog
      div.recent-blog_img
        img(src="img/blog_post1.jpg")
      div.recent-blog_desc
        div.recent-blog_desc-container
          h3.recent-blog_desc_h3 
            a.recent-blog_desc_h3-link(href="#") Startup ideas needs to be funded 
          p.recent-blog_desc_autor By <a href="#" class="recent-blog_desc_autor_link">Khalil</a> Uddin in <a href="#" class="recent-blog_desc_autor_link">Development</a> 
        div
          p.recent-blog_desc_p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
          a.recent-blog_desc-link(href="#") Read more
    article.recent-blog
      div.recent-blog_img
        img(src="img/blog_post2.jpg")
      div.recent-blog_desc
        div.recent-blog_desc-container
          h3.recent-blog_desc_h3 
            a.recent-blog_desc_h3-link(href="#") User Interface Designing Elements 
          p.recent-blog_desc_autor By <a href="#" class="recent-blog_desc_autor_link">Khalil</a> Uddin in <a href="#" class="recent-blog_desc_autor_link">Development</a>
        div
          p.recent-blog_desc_p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
          a.recent-blog_desc-link(href="#") Read more