section.sec-contact#contact
  div.container
    div.module
      h2.module_h2 Get in touch
      p.module_p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    div.sec-contact-wrapper
      section.contact-list
        ul
          li.contact-item
            h2.contact-item-title.title-address Address
            p.contact-item-text
              span 312, 7th Ave, New York
              span NY 101200, United States of America
 
          li.contact-item
            h2.contact-item-title.title-hotline Hotline (24x7)
            p.contact-item-text
              span +65 0052 300, +65 88251 210
              span +88 01723 511 340
 
          li.contact-item
            h2.contact-item-title.title-email E-mail
            p.contact-item-text
              span shapedtheme@gmail.com
              span khalilkode@gmail.com
 

      section.contact-form
        form(action="").contact-main-form
          div.input-wrapper
            input(type="text" placeholder="Your Name")
            input(type="email" placeholder="Your E-mail")
            input(type="text" placeholder="Your subject")
            input(type="text" placeholder="Company name")
          textarea(placeholder="Write your message")
          button(value="Send message") Send message
          span.warr-message 
            | <b>*</b> We’ll contact you as as possible. We don’t reply on Monday.