a(id="about")
  section.sec-about
    div.container
      div.module
        h2.module_h2 About us
        p.module_p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
      div.sec-about__text-wrapper
        div.sec-about__text
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
        div.sec-about__text
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
      div.sec-about__workers
        div.sec-about__workers__wrapper
          div.sec-about__workers__item.sec-about__workers__item_induced
            img(src="img/slide_img/about_us1.png")
          div.sec-about__workers__item.sec-about__workers__item_induced
            img(src="img/slide_img/about_us2.png")
          div.sec-about__workers__item.sec-about__workers__item_induced
            img(src="img/slide_img/about_us3.png")
          div.sec-about__workers__item.sec-about__workers__item_induced
            img(src="img/slide_img/about_us4.png")
