section.sec-service#services
  div.container
    div.module
      h2.module_h2 Services
      p.module_p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
    div.sec-service__wrapper
      div.sec-service__feature
        div.feature__heading
          div.feature__heading__img.feature__heading__img-typography
          h3.feature__heading__title Clean Typography
        p.sec-service__feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
      div.sec-service__feature
        div.feature__heading
          div.feature__heading__img.feature__heading__img-code
          h3.feature__heading__title Rock Solid Code
        p.sec-service__feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
      div.sec-service__feature
        div.feature__heading
          div.feature__heading__img.feature__heading__img-support
          h3.feature__heading__title Expert Support
        p.sec-service__feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
