.startup {
  height: 770px;
  max-height: 770px;
  background-image: url('../img/bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat';
  color: $white;
}

.startup__wrapper {
  @include cf();
  text-align: justify;
  padding-top: 32px;

  @media(max-width: $lg) {
    padding: 32px 15px;
  }

  @media(max-width: $sm) {
    text-align: center;
  }
}

.startup-logo {
  float: left;

  @media(max-width: $sm) {
    float: none;
    display: block;
  }
}

.startup-logo_h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 36px;
}

.startup-navigation {
  float: right;

  @media(max-width: $sm) {
    float: none;
    display: block;
  }
}

.nav-item {
  float: left;
  padding-top: 8px;
  margin-left: 34px;

  @media(max-width: $sm) {
    float: none;
    display: inline-block;
    margin: 0 15px;
  }

  @media(max-width: 599px) {
    display: block;
  }
}

.nav-item_link {
  color: white;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;

  &:hover {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    transition: all .3s;
  }
}

.nav-items {
  @include cf();

  @media(max-width: 599px) {
    margin-top: 15px;
  }
}

.header-desc {
  text-align: center;
  margin-top: 21.5%;
}

.header-desc_h1 {
  font-family: 'Montserrat';
  font-size: 4.8rem;
  text-transform: uppercase;
}

.header-desc_p {
  font-family: 'RobotoSlab';
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 46px;
}

.header-desc_button {
  border: 2px solid $white;
  padding: 12px 34px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba($white, 0.6);
    transition: all .2s;
    color: red;
  }

  &:active {
    background-color: rgba($red, 0.5);
    color: $white; 
  }
}
