.slider-brands {
  background-color: $gray;
}

.slides {
  padding: 90px 0;
}

.slide {
  font-family: RobotoSlab;
  color: $black;
  text-align: center;
  
  .img-brands {
    margin-bottom: 40px;

    .link-brands {
      width: calc(898px/5 - 10px);
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px 10px 20px;

      @media(max-width: $ms) {
        width: calc(550px/5 - 10px);
      }
    }
  }

  .slide-text {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
  }

  .slide-sub-text {
    font-size: 20px;
    line-height: 1.5;
  }
  
}